<h1>新規投稿ページ</h1>
<%# link_to 'リンクに表示する文字', 'パス', method: :HTTPメソッド %>
<%= form_with url: "/posts" ,method: :post, local: true do |form|%>
<%= form.text_field :content %>
<%  form.submit "投稿する" %>
<% end %>